{* This is the welcome page, you can delete it *}

{block content}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>FatService order system</h1>
    <p>This is a order system which provides dialog system interface for managing offered products and next services. <br />
    Call this number: +990009369996194526 </p>
    <p><a n:href="Basic:orders" class="btn btn-primary btn-large">Orders &raquo;</a></p>
</div>

