{extends none}
{contentType text/xml}
<vxml xmlns="http://www.w3.org/2001/vxml" version="2.0" xml:lang="en-US">
    <form id="main">
        <filled>
            <prompt>Your order is accepted. Thank you. Bye.</prompt>
        </filled>
    </form>
</vxml>